@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

header {

    background-color: rgba(255, 144, 14, 0.1);
}

/* navigation styles */

.nav-container {
    margin-bottom: 110px;
}

.nav-title {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin-left: 50px;
}

.nav-header {
    font-size: 45px;
    color: #131313;
}

.nav-list {
    color: #424242;
    font-weight: 500;
    font-size: 18px;
}

/* banners styles */

.banners {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-banner {
    width: 862px;
    height: 225px;
    padding-bottom: 30px;
}

.banner-title {
    color: #131313;
    text-align: center;
    font-weight: 700;
    font-size: 64px;
    /* padding-bottom: 50px; */
    /* padding-bottom: 100px; */
}

.banner-description {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    padding-top: 20px;
}

.btn-primary {
    width: 180px;
    height: 64px;
    background-color: #FF900E;
    border-radius: 8px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    margin: 30px 870px 50px;
}

.banner-img {
    width: 1440px;
    height: 700px;
    border-radius: 8px;
    margin-bottom: 45px;
}

/* main styles */
main {
    background-color: #FFFFFF;
}

/* feature styles */

.features {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse;
    gap: 73px;
    padding: 85px 301px 130px;
}

.feature {
    width: 537px;
    height: 304px;
}

.feature-title {
    font-weight: 500;
    font-size: 45px;
}

.feature-title-first {
    color: #727272;
}

.feature-title-second {
    color: #FF900E;
}

.feature-description {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    margin-top: 24px;
}

.feature-btn {
    background-color: #FF900E;
    border-radius: 8px;
    width: 180px;
    height: 64px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    margin-top: 30px;
}

/* feature img */
.feature-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.images {
    width: 342px;
    height: 342px;
    border-radius: 8px;
}

/* more feature */
.details {
    display: flex;
    justify-content: space-around;
    margin-left: 230px;
    margin-right: 251px;
    gap: 54px;
}

.feature-details {
    width: 586px;
    height: 982px;
}

.features-title {
    border-left: 5px solid  #FF900E;;
    color: #131313;
    font-weight: 700;
    font-size: 45px;
    width: 468px;
    margin-bottom: 10px;
}

.features-description {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
}

.more-features {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    background-color: #FFFFFF;
    border-radius: 8px;
    width: 586px;
    height: 171px;
    margin-top: 30px;
}

.more-feature-title {
    padding-top: 30px;
    font-weight: 600;
    font-size: 20px;
    margin-left: 30px;
    margin-bottom: 10px;
}

.more-feature-description {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    margin-left: 30px;
}

.more-feature-img {
    width: 800px;
    height: 1059px;
}

.more-feature-img img {
    width: 708px;
    height: 982px;
    border-radius: 8px;
}

.more-feature-btn {
    position: absolute;
    width: 330px;
    height: 200px;
    left: 850px;
    top: 3102px;
    background: #FF900E;
    border-radius: 8px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 65px;
    text-align: center;
    padding: 40px;
}

.more-span {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 25px;
}

/* some facts styles */
.fact-title {
    font-weight: 700;
    font-size: 45px;
    width: 258px;
    margin-left: 210px;
    padding-bottom: 10px;
    margin-top: 130px;
}

.fact-description {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    width: 542px;
    margin-left: 210px;
}

/* Achivements  */
.achivements {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 125px;
}

.achivement {
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 241.83px;
    height: 241.83px;
    text-align: center;
    padding-top: 20px;
    margin-top: 100px;
}

.achivement img {
    padding-top: 45px;
}

.achivement-title {
    font-weight: 600;
    font-size: 45px;
    color: #424242;
}

.achivement-description {
    font-weight: 600;
    font-size: 20px;
    color: #727272;
}

.achivements:hover .achivement {
    background-color: gold;

}

/* sponsors styles */
.sponsors {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

.sponsor-details {
    width: 542px;
    height: 129px;
    margin-bottom: 50px;
}

.sponsor-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    text-align: center;
}

.sponsor-description {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #727272;
    width: 542px;
    margin-top: 24px;
    margin-bottom: 50px;
}

.sponsors-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 155px;
}

/* copyright styles */

.copyright {
    background: #FFF4E7;
    border-radius: 8px;
    width: 1440px;
    height: 100px;
    margin-left: 240px;
    margin-right: 240px;
    margin-top: 130px;
    margin-bottom: 215px;
}

.copyright-description {
    text-align: center;
    padding: 35px 410px;
}

/* extra section */
.connect {
    display: flex;
    gap: 100px;
    background: #FFF8F3;
    padding: 130px 200px;
}

.connect input[type="text"],
input[type="email"],
textarea {
    margin-bottom: 24px;
    border: 0;
    padding: 18px 30px;
    width: 100%;
}

.connect a {
    text-decoration: none;
    padding-left: 20px;
    font-size: 20px;
}

.connect-title {
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 20px;
    /* margin-top: 20px; */

}

.connect-description {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    width: 542px;
    margin-bottom: 20px;
}

.submit-btn {
    background: #FF900E;
    border-radius: 8px;
    width: 180px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
}


/* responsive section styles */

@media screen and (max-width:576px) {
    .nav-container, .banner-container, .banner-img, .main-container, .some-fact, .achivement-container, .sponsor-container, .copyright-container, .connect {
        width: 100%;
    }
    /* navigation */

    .nav-title {
        flex-direction: column;
        justify-content: center;
    }

    .nav-title ul {
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
    /* banner */
    .section-banner {
        width: 100%;
        height: 100%;
    }

    .banner-title {
        font-size: 20px;
    }

    .banner-description {
        font-size: 14px;
    }
    .banner-img{
        height: 220px;
        margin-bottom: 0;
    }

    .banner-img img {
        max-width: 100%;
        max-height: 100%;
    }
    /* main feature  */
    .features{
        flex-direction: column-reverse;
        align-items: center;
        padding: 30px;
    }
    .feature-title{
        font-size: 18px;
        /* width: 450px; */
        text-align: center;
        margin-left: 20px;

    }
    .feature-description{
        font-size: 11px;
        text-align: center;
    }
    .feature-btn{
        margin-left: 220px;
        width: 100px;
        height: 50px;
        font-size: 10px;

    }
    .feature-img{
        grid-template-columns: repeat(1, 1fr);
    }

    .fact-title{
        margin-top: 10px;
        width: 58px;
        font-size: 20px;
        margin-left: 10px;
    }
    .fact-description{
        margin-left: 10px;
        width: 100%;
        font-size: 14;
        /* text-align: center; */

    }
    .achivements{
        justify-content: center;
        align-items: center;
        gap: 20px;
        flex-direction: column;
    }

   .achivement{
    margin-top: 10px;
    padding-top: 0px;
    width: 200.83px;
    height: 200.83px;
   }
   .sponsor-details{
    width: 390px;
    height: 129px;
   }
   .sponsor-title{
    font-size: 20px;
   }
   .sponsor-description{
    width: 390px;
   }
  
   .sponsors-img{
    justify-content: center;
    align-items: center;
    gap: 55px;
    flex-direction: column;
   }
   .copyright{
    width: 390px;
    height: 100px;
    margin-left: 20px;
    margin-right: 230px;
   }
   .copyright-description{
    /* padding: auto; */
    padding: 35px 40px;
   }
   .connect{
    padding: 20px;
    flex-direction: column;
   }

    .connect input[type="text"],input[type="email"], textarea{
    padding: 0 0 0 5px;
}


.hide {
    display: none;
}
 

}




